body{
  
    padding: o;
    margin: 0;
}
.One{
    height: 800px;
    width: 800px;
    margin: 200px  auto;
    background-color: greenyellow;
    position: relative;
    text-align: center;



}

body{
   
    padding: o;
    margin: 0;
}
.One{
    height: 800px;
    width: 800px;
    margin: 200px  auto;
    background-color: yellowgreen;
    position: relative;
    text-align: center;
    font-weight: bolder;
}




